@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: #000;
}

h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn-light {
  padding: 13px 32px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  margin-left: 3px;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  transition: 0.3s;
}
.btn-light:hover {
  background-color: white;
  color: black;
  font-weight: 300;

  transition: 0.3s;
}
